[2015-06-18 21:48] derekperkins opened #3 "What about running 4.0 on GKE?"
Is this possible yet?

[2015-06-18 22:44] tleyden commented on #3
Looks like that's the default:

https://github.com/couchbase/kubernetes/blob/master/replication-controllers/couchbase-server.yaml#L22

but I think there is a more recent version that we should be using.

[2015-06-18 22:45] #3 closed

[2015-06-18 23:32] derekperkins commented on #3
Awesome, thanks for the quick fix!! I can't wait to get started!

PS. I've been looking all over the web for info on running Couchbase on GKE and only found this repo after digging through a lot of forum entries. Maybe a blog post would help raise the visibility?

[2015-06-19 20:07] derekperkins opened #6 "Upgrading the cluster & appropriate sizing"
I'm trying to figure out the instance sizes to run and how many nodes to put in my cluster. I'm using it as a caching layer, so currently my reads and writes are about equal. I'm migrating from Google Cloud Datastore. This is what my workload has been averaging this month so far:
- Avg 150 Write Ops / sec
- Avg 150 Read Ops / sec
- Peak 750 Write Ops / sec
- Peak 750 Read Ops / sec
- Avg 4kb recor

[2015-06-19 20:11] tleyden commented on #6
Can you ask this question here instead?  https://forums.couchbase.com/

I would say something like "I'm running on GKE and looking for sizing suggestions.  Since GKE is ultimately backed by GCE, any GCE guidance should apply".  The reason I say that is because our support staff is still not fully ramped up on GKE yet, and may be hesitant to make suggestions.

Post a link to your post on this ticke

[2015-06-19 20:11] #6 closed

[2015-06-19 20:17] derekperkins opened #7 "Setup Time"
I ran the demo setup with an f1-micro rather than a g1-small. It's been over an hour and all my pods listed for `kubectl get pods` are still pending, with the CPU pegged the entire time. How long should I expect the setup to take?

[2015-06-19 20:25] tleyden commented on #7
I think you are running with too little resources.  See http://docs.couchbase.com/admin/admin/Concepts/bp-sizingGuidelines.html

[2015-06-19 20:25] #7 closed

[2015-06-19 20:27] tleyden commented on #7
Actually this doc may be better: http://docs.couchbase.com/admin/admin/Install/install-resourceReqs.html

[2015-06-19 20:38] derekperkins commented on #7
That's very helpful, thank you very much.

[2015-06-19 20:39] derekperkins commented on #6
Thanks for your help. Here's a link to the question.
https://forums.couchbase.com/t/cluster-size-recommendations-running-4-0-on-compute-engine/4206

[2015-06-19 22:29] derekperkins opened #8 "Nodes not finding each other and don't BecomeFirstClusterNode()"
Sorry to barrage you with questions, but these nodes aren't finding each other. Both servers appear to have started fine:
[code]
I've torn down and built up `n1-standard-2` clusters 3 times now and keep getting the same results. My `couchbase sidekick` logs are where it seems like the issue is. Both of them find the `/couchbase.com/couchbase-node-state` key and so neither one is creating the clust

[2015-06-19 22:32] derekperkins commented on #8
I'm able to browse to the Couchbase server page on my nodes, but both of them take me to the cluster setup screen.

[2015-06-19 22:39] tleyden commented on #8
No apologies necessary!  Thanks for this clear report.  Please keep them coming.

Yeah, that means the initialization failed (specifically, the sidekicks -- which are responsible for this, didn't do their job)

I think I see the problem!

Both sidekicks report:

[code]

Whereas the expected behavior is that:

* `/couchbase.com/couchbase-node-state` should *not* exist in etcd when the cluster is br

[2015-06-19 22:44] derekperkins commented on #8
What command do I use to bring it down? `kubectl stop ...`? I apologize, I'm new to Docker, kubernetes and Couchbase all at the same time.

[code]

[2015-06-19 22:52] tleyden commented on #8
[code]

See https://cloud.google.com/container-engine/docs/pods/operations#deleting_a_pod and https://cloud.google.com/container-engine/docs/kubectl/delete

[2015-06-19 23:11] derekperkins commented on #8
When I delete the controllers, new ones automatically take their places.

[2015-06-19 23:18] tleyden commented on #8
You're probably deleting the pods spawned by the replication controller, rather than the replication controller itself.

Try this:

[code]

(if that doesn't work, try couchbase-server instead of couchbase-controller)

Then delete the pods themselves the same way you did before.

[2015-06-19 23:27] derekperkins commented on #8
Ok, that worked!!! I don't know why it failed multiple times on my initial setup, but thanks for helping me get it going.

[2015-06-19 23:38] derekperkins commented on #8
Alrighty, I broke it again. When I was testing things, I was just using the the default user/password from your tutorial. After it was working, I redid the username/password step where I ssh'ed in and used `curl` to reset the username and password. That locked me out of the web admin, so I thought that I'd delete the controller pods and they'd respawn. They did respawn, but had the same problem I

[2015-06-20 00:47] derekperkins commented on #8
About an hour and a half later, I finally got it working again. I've tried following the instructions straight through and it hasn't ever worked for me going by the book. I had to create, delete and update dozens of times to get things working.

At the end of it all, I'm pretty convinced that the problem is a race condition between the two nodes to that key. To get things working, I had to let one

[2015-06-20 15:53] tleyden commented on #8
Yeah there is definitely a bug here.  I think the root cause is this:

https://github.com/tleyden/couchbase-cluster-go/blob/d51082b95ef5e8bacebdba447c6e9e843d2c2506/cluster.go#L156

the `/couchbase.com/couchbase-node-state` etcd key is being added with a TTL of 0, meaning it will never expire.  So residue in etcd from previous "cluster bootstraps" will break things.

[2015-06-20 18:43] derekperkins commented on #8
It seems like that would cause problems with the master node goes down, keeping any other nodes from taking over, but I don't see how that would stop bootstrapping on a fresh load. I rebuilt my container clusters from scratch 5-6 times and it didn't succeed even once.

[2015-06-20 18:46] derekperkins commented on #8
I just submitted a PR that will hopefully help this from causing further issues.

[2015-06-21 07:20] derekperkins commented on #8
I tried again tonight to spin up a cluster after the new commits, and I'm not even getting to the KEY_NODE_STATE error. I just can't get the controllers to find app-etcd.
[code]

[2015-06-22 15:41] tleyden opened #11 "Unable to connect to server: Get http://$COUCHBASE_SERVER_SERVICE_HOST:8091"
The last PR merge broke things badly.

From @derekperkins

[code]

I never set the $COUCHBASE_SERVER_SERVICE_HOST environment variable, so it failing wasn't a surprise -- I'm just not sure where I'm supposed to be pointing it.

@bcbroussard any ideas?  @derekperkins is on GKE as far as I know.

[2015-06-22 15:45] derekperkins commented on #11
Correct, I'm running on GKE.

[2015-06-22 18:48] derekperkins commented on #11
@tleyden Have you successfully launched a cluster since merging this commit?

[2015-06-22 18:49] tleyden commented on #11
Nope

[2015-06-22 18:52] derekperkins commented on #11
Won't this issue be resolved once you move app-etcd into a service? It looks like you got an answer to your questions on https://groups.google.com/forum/#!msg/google-containers/rFIFD6Y0_Ew/PlYh0z7weLEJ?

[2015-06-22 18:59] tleyden commented on #11
I don't think so, because I think this is basically expecting an env variable to be set for the *couchbase server* service, not the app-etcd service.  Either that env variable is not being set, or it's not being resolved.

[2015-06-22 19:06] derekperkins commented on #11
Is it just the env variable part of that commit that broke things? What if you just revert that line of the PR?

[2015-06-22 19:11] tleyden commented on #11
I don't think that aspect was working in automated fashion anyway -- it basically had something in the README that mentioned to go change the value of `etcd.pod.ip` in the local copy of the file.

@bcbroussard's approach feels like the right one, we just need to figure out why it's not working on GKE.  Btw he and I are scheduled to do a pair coding session this friday.  (or if not him, someone on

[2015-06-22 19:32] derekperkins commented on #11
Ok, sounds good. I just wish I hadn't killed my working cluster because I'm stuck now. Let me know how your coding session turns out. I'm hoping to this up and as stable as possible in the next few days. Thanks for always being so responsive.

[2015-06-22 20:53] bcbroussard commented on #11
@derekperkins the `$COUCHBASE_SERVER_SERVICE_HOST` environment variable is automatically set by Kubernetes when the pod starts (as long as the `couchbase-server` service has been created before the pod starts. Are you using a different name?

[2015-06-22 20:55] derekperkins commented on #11
I was using `couchbase-server` as my cluster name. Are you saying that the service has to completely boot before creating the controllers? I was running those pretty close to each other if I remember correctly.

[2015-06-22 21:00] bcbroussard commented on #11
@derekperkins when using environment variables, yes, the service has to be created before the pod. An alternative approach is to use the internal dns name, which should be something like `couchbase-server.default.svc.cluster.local` or `couchbase-server.default.svc.kubernetes.local` if you are using the default skydns setup.

You can check a pod's environment variables by ssh-ing into a node with t

[2015-06-22 21:06] tleyden commented on #11
GKE does have skydns, but I think ideally we wanted to avoid/minimize using skydns since it's not guaranteed to be on every kubernetes cluster.

[2015-06-22 21:19] derekperkins commented on #11
I tried switching to the skydns address that was in the yaml file, but that didn't work for me either.

[2015-06-22 21:29] bcbroussard commented on #11
@derekperkins what version or kubernetes are you running?

[2015-06-22 21:30] derekperkins commented on #11
I think GKE is on 0.18.2

[2015-06-22 21:31] derekperkins commented on #11
I'm just following the instructions exactly as laid out in the readme file for this repo.

[2015-06-22 23:08] tleyden commented on #11
Gonna assume https://github.com/couchbase/kubernetes/pull/12 fixes this, so closing this.  Re-open if not.

[2015-06-22 23:12] tleyden commented on #8
I think the comment in https://github.com/couchbase/kubernetes/issues/8#issuecomment-113870668 is related to https://github.com/couchbase/kubernetes/issues/11.

Also gonna assume that https://github.com/tleyden/couchbase-cluster-go/pull/5 fixes the original bug.

[2015-06-22 23:12] #8 closed

[2015-06-23 00:10] derekperkins commented on #11
It's still not booting for me. My sidekicks are barely even logging anything. This is the sum total of their logs. It actually took me a while to realize that that was the log and not a `kubectl logs` error message. :)
[code]

[2015-06-23 01:50] bcbroussard commented on #11
@derekperkins what does `kubectl get endpoints` show? Are there endpoints for every service?

[2015-06-24 01:50] afterthought opened #16 "Ram quota configuration"
It would be nice to control the ram quota externally when running on kubernetes. It appears to default to 75%. I either need to figure out how to control this in my cluster or find a way to isolate the couchbase servers on their own hosts.

[2015-06-24 03:12] afterthought opened #17 "Authentication issue against admin GUI"
I'm guessing I don't have things configured exactly right. I have the version of the service spec when the type was NodePort. I setup a test cluster last week and things seemed OK. I setup a new test cluster and now when I connect using the 30891 Nodeport I get the admin login screen and can successfully login. However, after a second or two, XHR calls fail with 401 responses and I am logged out.

[2015-06-24 08:03] derekperkins commented on #11
Sorry for the delay. My machine borked today and I ended up having to get a new one.

I tried from scratch again and still got nothing, but I did get a different error from the `couchbase-sidekick`.
[code]

Here is what I have for `kubectl get endpoints`
[code]

[2015-06-24 08:16] derekperkins commented on #11
After reverting the `couchbase-server.yaml` file to a hardcoded IP address and recreating the pods, the server then came online.

[2015-06-24 16:19] tleyden commented on #16
The recommended approach for Couchbase is to give it exclusive access to the host's resources.

@bcbroussard -- any idea how to express anti-affinity in Kubernetes?  Or somehow tell it to only run Couchbase pods on a given minion?

[2015-06-24 16:24] afterthought commented on #16
Thanks. I did figure that part out using nodeSelector and node labels.

[2015-06-24 16:27] tleyden commented on #11
Do you mean for the `--etcd-servers` argument?

[2015-06-24 16:33] tleyden commented on #16
@afterthought let's get that into the README!  Can you either send a PR on the README (ideal) or provide some details / examples in this ticket?

[2015-06-24 16:34] afterthought commented on #16
This isn't a problem for me, but as I was experimenting with nodeSelectors I had a situation where my 2 pods ended up on different size hosts. The 2nd smaller host couldn't join the cluster because it's memory didn't satisfy the quota requirements. The nodeSelector fixes that obviously, but the real word scenario (although not sure how likely it is), would be that while you can expand a cluster by

[2015-06-24 16:38] derekperkins commented on #11
Correct. `--etcd-servers http://10.248.0.3:2379`

[2015-06-24 17:14] afterthought commented on #16
Just attached a pull request that shows what I did. I'm not sure you should merge it as it adds one more step to just "getting started". I'm using AWS and CoreOS and right now it really doesn't make sense for me to use this repo as is anyway. I've just been adding the spec yaml documents to my own project as needed. Is there a package manager yet for kubernetes? :)

[2015-06-24 17:40] bcbroussard commented on #11
@derekperkins thanks for your feedback, I know what's going on. From your output I can see 2 things:
1. the `app-etcd` service does not exist
1. `/couchbase.com/userpass` wasn't set in etcd

The main `README` is missing a step to create the `app-etcd` service, even though the file exists in the repo. @tleyden can that step be added in? Then the `couchbase-server.yaml` file will have the proper env

[2015-06-24 17:49] tleyden commented on #11
@bcbroussard done -- https://github.com/couchbase/kubernetes/commit/6c1ea5cbe62a22725ed6fed3383aafb622ff8b0f

[2015-06-24 18:06] bcbroussard commented on #16
Running certain pods on certain types of nodes (high-mem, high-cpu, etc) is a common use case. Kubernetes does not have a concept of anti-affinity, but the affinity approach will work fine.

You can achieve the same results with `nodeSelectors`. In this case you have the label `role=couchbase` on some nodes, and the all others should have something like `role=general`. Similarly, make sure that ev

[2015-06-25 00:23] derekperkins commented on #11
I got a little farther, but still can't access the admin.

[code]

[code]

[code]

[2015-06-25 00:59] bcbroussard commented on #11
@derekperkins can you run `kubectl describe services couchbase-service` You should see your external load balancer ip listed under
[code]

Then you should see the admin at `http://104.154.88.223:8091`

[2015-06-25 01:08] derekperkins commented on #11
I will in 5-10 minutes. I nuked the cluster and am starting from scratch.

[2015-06-25 01:23] derekperkins commented on #11
Getting closer! After getting the `LoadBalancer Ingress` IP, I visited it and was greeted with the username / password prompt. After logging in, it then redirected me to the standard setup page, not the actual console.

[2015-06-25 01:24] derekperkins commented on #11
Here's the output of `kubectl describe services couchbase-service`

[code]

[2015-06-25 01:31] derekperkins commented on #11
Ok, I think I found the problem...

### The first node goes up fine

[code]

### The second node goes up, then crashes on login
When both controllers looked good, I went to log in (I did this multiple times after deleting and recreating the controllers) and got the login screen. Once, I even got as far as the admin console for about 15 seconds, then it booted me back out into the setup screen. Aft

[2015-06-25 15:51] tleyden commented on #11
So 10.248.1.6 is trying to join itself to existing cluster member 10.248.0.4, but when 10.248.0.4 tries to reach 10.248.1.6 on port 4369 it fails.

I would suggest "docker exec'ing" into the couchbase container running on 10.248.0.4, and then ping 10.248.1.6 to make sure there is a route, and then try running `telnet 10.248.1.6 4369`.

Another thing you could try is "docker exec'ing" into the couc

[2015-06-25 17:08] derekperkins commented on #11
I'm not able to get into either of those containers for some weird reason. It's telling me that the host doesn't exist when running `kubectl exec`, and it's throwing a TLS error on `docker exec` from inside the VM.

#### Instances are up and running
[code]

#### Logging into 10.248.0.4
[code]

[code]

#### After gcloud compute ssh
[code]

[2015-06-25 17:14] tleyden commented on #11
What about `sudo docker exec 10.248.0.4 bash`?

[2015-06-25 17:58] derekperkins commented on #11
[code]

[2015-06-25 18:39] bcbroussard commented on #11
@tleyden - I noticed that port `4369` is not defined in the `couchbase-service.yaml`. Unless you can think of something else, it seems like that might be the culprit.

[2015-06-25 19:47] derekperkins opened #19 "Long term cluster management"
As I'm trying to get things running, I'm also trying to think about my maintenance on GKE. Obviously this is still a beta repo on a beta service using a beta db server, so it's been tough to get something working. I have no doubts that will get ironed out quickly. What is your vision in regards to scaling and upgrading?

1. Horizontal scaling
 1. Edit `couchbase-server.yaml` `spec: replicas: n`
 1

[2015-06-25 20:07] tleyden commented on #11
I thought the couchbase containers would be directly communicating between themselves, and not through a service?  (and therefore, `couchbase-service.yaml` shouldn't need port 4369 to be defined)

For the containerPort parameter in coucbase-server.yaml, is that saying that *only* that port will be visible to other containers?  If so, we'll need to fix that, since couchbase server has a [bunch of p

[2015-06-25 20:08] tleyden commented on #11
@derekperkins oh, with docker exec you need to pass the container id.  If you first run `docker ps`, you can get the container id.  Then run `sudo docker exec -ti container_id bash`

[2015-06-25 20:19] tleyden commented on #19
Until we have a better story with persistent volumes, the recommended approach is:

1. Bring up a new (bigger node), add to Kubernetes cluster
1. Remove couchbase node from cluster using Couchbase Admin UI
1. Bring down the decommissioned node
1. The Kubernetes Replication Controller should create a new couchbase server instance and put it on the new node created in Step 1.

[2015-06-25 20:24] tleyden commented on #19
Once the **1. Horizontal scaling** is working reliably, it would be possible to create something that monitored the load and scaled things horizontally.

I would suggest the "rolling upgrade" approach mentioned in "Vertical scaling Bring down 1 VM at a time"

Gonna close this ticket since there's no immediate action items.  (feel free to file more tickets for any questions or whatever, this is cur

[2015-06-25 20:24] #19 closed

[2015-06-25 20:27] derekperkins commented on #11
@tleyden That got me into the container, and when I ran `ping 10.248.1.6`, it found it. I did get an error: `bash: telnet: command not found`, so I couldn't try out the second part.

[2015-06-25 20:28] tleyden commented on #11
You can just install telnet via `yum install -y telnet`

[2015-06-25 20:30] derekperkins commented on #11
Ok, that connected.
[code]

[2015-06-25 20:33] derekperkins commented on #11
I logged into the other one and it worked too, though not on ipv6.
[code]

[2015-06-25 20:36] derekperkins commented on #19
How would the rolling upgrade function on a upgrade, where different nodes are running different versions of CB?

[2015-06-25 20:44] tleyden commented on #19
Different versions of CB isn't a problem for a rolling upgrade.

[2015-06-25 20:46] derekperkins commented on #19
That's pretty cool.

[2015-06-25 21:16] derekperkins commented on #11
I tried again from scratch, wondering if I had messed something up logging into the servers and it's still the same story. I get all the way through a successful login, it flashes the admin panel and then kicks me out.

Is the problem that it can't create the default bucket?
[code]

[2015-06-26 16:03] bcbroussard commented on #11
@derekperkins the logout issue is probably caused by the service alternating requests between the 2 pods. In that case, you can try scaling down to 1 pod, making config changes, and then scaling back up.

[code]

[2015-06-26 16:03] bcbroussard commented on #11
@tleyden yes, if the port needs to be external then it should go into the service - like the Web Administration Port. If they are internal only, then they just need to be defined on the Pod.

I can think of 2 ways to fix this.
 1. Create a `couchbase-server-master.yaml`, include a label `master` and add a `selector` to the service. There will only be 1 master. Then create a `couchbase-server-slave

[2015-06-26 16:06] bcbroussard commented on #17
@afterthought the logout issue is probably caused by the service alternating requests between the 2 pods. In that case, you can try scaling down to 1 pod, making admin changes, and then scaling back up.

[code]
@tleyden and I are discussing the best approach to take for solving this.

[2015-06-26 23:08] derekperkins commented on #11
When I scale back up, the brief looks I get at the console now show 3 servers being down, even though there were only 2 to begin with, and at least 1 or 2 are running because it's booting me out.

[2015-06-27 04:37] derekperkins opened #20 "Can't ping sync gateway"
I haven't been able to successfully ping my sync gateway since starting down this road. Is there something not functional or potentially out of date in the readme?

#### logs look good
[code]
#### exit code 1 looking at `kubectl get pod`
[code]

[2015-06-27 04:45] derekperkins opened #21 "Reliability expectations"
I recognize that this is very much a beta project, so I don't want to get my expectations too high. I'm getting to the point where I need to put something into production. Couchbase will only be acting as a cache and sync gateway, so even if my GKE cluster exploded, it would be annoying, not a catastrophe. I'm loathe to implement 3.0 when 4.0 is already here, and I'd much prefer to build for the f

[2015-06-29 20:01] tleyden commented on #20
The fact that it never got past this line probably means it couldn't reach couchbase server on `10.0.101.12:8091`

[2015-06-29 21:00] derekperkins commented on #11
@bcbroussard At the beginning of this process, I was able to login to the web ui directly via any of the box external IPs, but I can't now.

Without the web ui, how can I check the server status? I have no way of knowing how many servers it thinks is online or whether rebalancing works properly after scaling the system back up.

[2015-06-29 21:03] derekperkins commented on #21
@bcbroussard - Do you have an operational Couchbase cluster running at Kismatic?

[2015-06-29 21:05] tleyden commented on #21
@derekperkins it's a tough one to answer, the only thing I can say is "hopefully soon".

[2015-06-29 21:19] derekperkins commented on #21
@tleyden - I appreciate that it's tough to know. If you had to guess, are we looking at something being ready in the next week or are we looking at a month+ until August?

[2015-07-02 17:20] derekperkins commented on #11
I'm not trying to be a pest, just wondering what the timeline looks for getting this issue fixed.

[2015-07-02 17:28] tleyden commented on #11
@derekperkins np, thanks for checking in.  I can't make any timeline promises, but I will try to take a look at this as soon as I can.

[2015-07-02 17:36] derekperkins commented on #11
Thanks for that. To get something up and running in the short term, should I just look at throwing CB 4.0 onto Compute Engine while GKE and this project mature? Is your article on it still valid a year later? http://tleyden.github.io/blog/2014/06/22/running-couchbase-server-on-gce/?

[2015-07-02 18:19] tleyden commented on #11
That article is so badly out of date, I would ignore it for now.

[2015-07-29 13:54] afterthought commented on #17
I just confirmed the fix in #22 for the admin load balancer issue on AWS. Thanks @bcbroussard .

[2015-08-16 19:12] #17 closed

[2015-08-16 19:13] tleyden opened #24 "Figure out which scripts are useful"
@bcbroussard / @PatrickHeneise on GCE, which scripts would I want to run that correspond to the README?

Also, which scripts would I run on AWS?

[2015-08-18 09:40] PatrickHeneise commented on #24
The AWS CloudFormation worked fine for me, I'm working on the GCE architecture at the moment, can give you more details probably next week.

[2015-08-18 16:56] tleyden commented on #24
@PatrickHeneise can you add details on the steps you did to make it work?

- How did you spinup the AWS?
- Which scripts / steps from this repo did you run?

[2015-08-18 18:18] bcbroussard commented on #24
@tleyden I think the easiest thing to do would be to use the quick start scripts.

[code]

It should be largely the same as the gce scripts I initially wrote. I'll run through both of these today and get back to you tomorrow.

[2015-08-18 18:20] bcbroussard commented on #24
For clarification: the gce scripts here should still work for launching. I haven't tested with v1 yet though.

https://github.com/couchbase/kubernetes/blob/master/scripts/k8s-gce-register.sh

[2015-08-18 20:34] bcbroussard commented on #24
@tleyden GCE setup is similar, the comments at the top of `k8s-gce-register.sh` explain:
[code]
The get.k8s.io script has `KUBERNETES_PROVIDER` set to gce by default.

[2015-08-20 18:57] bcbroussard commented on #24
@tleyden the `k8s-gce-register` script is for GCE, where the `register` script is for GKE. `k8s-gce-register` assumes you have a running GCE cluster started with `echo curl -sS https://get.k8s.io | bash` as per the source's comments. Cluster configuration is possible just like the AWS script too.

[2015-08-20 19:03] tleyden commented on #24
That helps!  Can you take a look at https://github.com/couchbase/kubernetes/blob/master/scripts/README.md and let me know if that looks right?

[2015-08-20 20:07] #24 closed

[2015-08-20 20:51] bcbroussard commented on #24
The register.sh script creates a k8s cluster on gke. So either update the readme to reflect that or edit the script to remove

[2015-08-20 20:52] tleyden commented on #24
When you say "creates a k8s cluster", do you mean adds the couchbase stuff?  I thought GKE already had the k8s cluster built-in?

[2015-08-20 21:38] bcbroussard commented on #24
The gke register script had a "gcloud create gke instances" command at the beginning. That creates your gke instances to run your pods.

The gce one I wrote does not start any instances, it expects a full k8s cluster to be running with a few node servers (formerly called minions).

GKE is basically the same as GCE's kubernetes full cluster, but without a master. You just run the nodes. Does that h

[2015-08-24 22:36] dovy opened #26 "API Port?"
I can use the Sync port/ip to access that, but if I want to read/write directly the the server there is no method, correct? Trying to do a mass import.  ;)

Any direction would be appreciated.

[2015-08-24 23:06] tleyden commented on #26
That will only work if you are using bucket shadowing, which I wouldn't actually recommend using since it has a long term deprecation plan.

Can you do your mass import via Sync Gateway's REST api?

[2015-08-24 23:07] tleyden commented on #26
Closing as there are no action items, but feel free to ask more questions or post more tickets.

[2015-08-24 23:07] #26 closed

[2015-08-24 23:14] dovy commented on #26
Is there a library that allows that? Currently using PHP. Are you suggesting that I instead link to replicate over the sync gateway and import locally?

[2015-08-25 02:05] tleyden commented on #26
There are CouchDB specific libraries that should be compatible with the Sync Gateway REST API, which is based on the CouchDB API.

https://wiki.apache.org/couchdb/Getting_started_with_PHP

Having said that, the REST API is simple enough you can get by pretty easily without a library.

I wasn't suggesting to replicate per se, just call the `bulk_docs` endpoint on Sync Gateway to add the docs.  The

[2015-08-27 04:15] afterthought opened #27 "Advice on persistent volumes and hostnames"
Hi... I have host volumes attached to the couchbase container. If I remove my pods and recreate them the data volume stores the couchbase data/logs/configs. However, when the containers start back up I get errors like this:

    Configured address `10.244.30.7` seems to be invalid. Will refuse to start for safety reasons.

Obviously, after removing the pod and recreating I now have new IP addresse

[2015-08-27 17:02] tleyden commented on #27
@afterthought you are hitting known limits with using persistent volumes with couchbase containers.  The solution I know of that should work is to depend on hostnames rather than ip addresses, which I've recommended to me by the Couchbase Server support team, but I have not tested in the context of Kubernetes or CoreOS.  It would be great if you could try this and report back.

A Kubernetes flavor

[2015-08-27 17:02] #27 closed

[2015-08-27 18:03] afterthought commented on #27
Thanks! I just did an experiment where I hard coded the clusterIP for each Service and tried using these IP's with the --local-ip flag on the sidekick. I can see in the sidekick logs that this almost works. I think it's failing because not all of the needed ports are exposed on the services. This wouldn't be a viable solution though since the docs say that node-to-node requires 21100 to 21299 incl

[2015-08-27 18:08] tleyden commented on #27
Can you post this question on https://forums.couchbase.com/?  The Couchbase Server support engineers monitor this closely.

If you don't get a response within a few days, post an update on this ticket and I'll reach out to them directly.

[2015-08-27 21:47] afterthought commented on #27
I registered with the forum, but ended up trying a few more experiments before I posted. I realized it would be easier to test out the "service" solution first so I generated a service with all couple hundred ports exposed. I used the clusterIP again and passed this as the --local-ip flag. This almost works. I get this error:

    2015/08/27 21:34:55 AddNode failed with err: Failed to POST to http

[2015-08-28 00:25] afterthought commented on #27
I'm thinking of just going back to fleet/coreos.

[2015-08-29 00:30] afterthought commented on #27
@tleyden I setup a 2 node cluster using fleet with host networking. This works well. I can reboot nodes and they restart and rejoin the cluster no problem. My plan is to also create a kubernetes replication group that can create ephemeral pods that join the cluster if need be.

I am stuck on something though which I think is rooted in the couchbase-cluster-go library. If I reboot all nodes in the

[2015-08-29 00:36] afterthought commented on #27
Btw. This is what I see in the logs:

    2015/08/29 00:03:49 AddNode()
    2015/08/29 00:03:49 AddNode posting to http://10.21.101.100:8091/controller/addNode with data: hostname=10.21.101.100&password=telegent01&user=admin
    2015/08/29 00:03:49 Using username/password pulled from etcd
    2015/08/29 00:03:49 POST to http://10.21.101.100:8091/controller/addNode
    2015/08/29 00:03:49 AddNode f

[2015-08-29 01:02] afterthought commented on #27
Yay! That was it. I just tested it twice. Once I rebooted each node and while they rebooted created a single node-state key. The cluster came back. The second test I used reboot -f and waited to create my etcd key in order to simulate an unexpected outage. One of the sidekick units fails like expected, but then I can create a node-state key and everything starts working. The sidekick failure seems

[2015-08-31 17:34] tleyden commented on #27
So at this point, are you using Kubernetes at all or is this a pure CoreOS + Fleet setup?

I don't think I've actually tested that scenario, or even planned for it.  Thanks for raising this issue though.

Which keys did you create exactly?

You shouldn't need to create a node-state key .. if you did then that's a bug.

Thanks again for reporting your findings!  Keep them coming.

[2015-08-31 18:00] afterthought commented on #27
AWS/CoreOS/Fleet. Two ec2 instances deployed with well known private IP addresses (so they won't change). These instances run kube-proxy and kube-kubelet still as well as the other CoreOS setup needed to enable Kubernetes, flannel, etc. My approach is going to be these 2 "well known" members of the cluster setup in fleet with well known IP addresses and persistent volumes. My thinking is to then u

[2015-08-31 20:10] afterthought commented on #27
Ok. Here is a gist with the sidekick logs from both hosts after the reboot.

https://gist.github.com/afterthought/a40e51a30483376b9c11

[2015-09-02 01:23] afterthought commented on #27
@tleyden  Correct me if I'm wrong, but I think my plan might be flawed (still new to couchbase). I'm OK as long as my static cluster stays the same, but if I add ephemeral nodes to my cluster with Kubernetes I might get in trouble. If the replica count is 1 and a document (and it's replica) only get saved to disk on an ephemeral kubernetes node then I'd lose those documents if those nodes were to

[2015-09-04 21:05] tleyden commented on #27
I'm not totally clear on your architecture.  Can you spell this out a little more?  Are you saying you have 3 "master kubernetes" nodes and N "kubernetes emphemeral nodes"?

If your replica count is 1, then you will have *two* copies of each vbucket spread across the cluster at any given time.  (what is a vbucket?  the data is sharded into 1024 shards and spread across the cluster, and each shard

[2015-09-10 03:41] afterthought commented on #27
I have a CoreOS cluster made up of a mix of regular ec2 instances and also ASG launched instances. I have 3 static nodes that run the etcd cluster and a few other services. I have a dedicated single kubernetes master node. I have two dedicated couchbase nodes (at first I was scheduling couchbase to these with kubernetes, now I use fleet). Then I have an ASG that creates additional "dynamic nodes"

[2015-09-10 18:37] tleyden commented on #27
OK thanks for sharing that!  Just curious, can you post any of your ASG config or describe how you have it setup to trigger new instances to be kicked off?

[2015-09-10 18:49] afterthought commented on #27
I'm using terraform so I'd have to pull in a bunch of different files to be complete. But here's the main file I use that creates the ASG with terraform.  https://gist.github.com/afterthought/1d4ad060ed52f23bd2af

I don't have it setup for anything "automatic" to kick off. In fact, based on our discussion I'm not planning to use kubernetes to expand the cluster at all now. The plan "was" to just u

[2015-09-15 02:35] coreyperkins opened #28 "Azure Efforts/Possibilities"
Is anyone working on an Azure impl? I have tinkered with the Kube guide for CoreOS on Azure as well the Ubuntu guide. I would be interested in helping. Thanks!

[2015-09-15 15:31] tleyden commented on #28
Not that I've heard of -- would be a welcome contribution!

If you do, please write up some docs and I'll make sure to get it on the wiki: https://github.com/couchbase/kubernetes/wiki

[2015-09-15 15:31] #28 closed

[2015-09-15 15:33] tleyden commented on #28
I'm closing the ticket as there are no immediate action items for the project owners, but feel free to continue the conversation on the ticket.

[2015-09-21 18:48] tleyden commented on #27
@afterthought thanks.

@PaulCapestany do you have the terraform scripts online anywhere?

[2015-09-21 19:10] PaulCapestany commented on #27
@tleyden yup, I'd posted my terraform stuff up at [couchbase-sync-gateway-terraform](https://github.com/couchbase/kubernetes/issues/27#issuecomment-142073445)

[2015-11-18 14:39] tleyden opened #29 "Simplify architecture"
The [k8s-etcd-cluster](https://github.com/blendedio/k8s-etcd-cluster) repo might provide a hint on how to simplify the architecture:

[2015-11-18 18:36] arun-gupta commented on #29
@aronchick this would be useful for our discussion.

[2015-11-23 13:13] SebastianBO commented on #11
@jamiltz Having this issue when combining non docker servers with the Docker server.

[2016-04-18 21:03] tleyden opened #30 "Don't allow couchbase containers run on same node"

[2016-05-08 17:30] snejati86 opened #31 "Expose 8092 for views query."

[2016-05-08 21:14] tleyden commented on #31
@snejati86 thanks!  I will lookup the syntax for exposing multiple container ports.  If you have any references to docs it would be useful.

[2016-05-08 21:52] snejati86 commented on #31
@tleyden I'll put a tiny pull request shortly, testing it with my current Kubernetes cluster now.

[2016-05-08 21:55] tleyden commented on #31
Cool!!

On Sun, May 8, 2016 at 2:52 PM, Sina Nejati <notifications@github.com>
wrote:

[2016-05-08 22:10] snejati86 commented on #31
Pending #32

[2016-05-08 22:18] #31 closed

[2016-06-07 02:14] tleyden opened #33 "Support initializing couchbase server with different data directory and index directory"
The command to [launch the sidekick container](https://github.com/couchbase/kubernetes/blob/master/replication-controllers/couchbase-server.yaml#L35) that runs [couchbase-cluster-go](https://github.com/tleyden/couchbase-cluster-go) should take additional arguments that allow it to specify the data and index directory when couchbase server is initialized.

[2016-06-14 23:09] tleyden opened #34 "Needs to be tested with Couchbase 4.5"

[2016-06-16 22:18] tleyden opened #35 "Don't allow two Couchbase Servers on same node"
User report:

This should be possible via pod anti-affinity:

https://github.com/kubernetes/kubernetes/blob/master/docs/design/podaffinity.md

[2016-07-05 17:50] FilipVozar opened #36 "Why shouldn't be the admin replication controller scaled past 1?"
Since the admin and node pods differ only in labels,
the only reason I could come up with is that I hit
only one pod when accessing web UI, but with Couchbase
it doesn't matter which node I connect to as long as
it's part of the cluster, right?

If I never wanted to use the web UI (or very rarely),
is it safe to scale admin replication controller to 0 pods
and only use the "basic" node replication

[2016-07-05 18:40] tleyden commented on #36
Correct

Yes, if you didn't want the web UI, you could set the admin replication controller to 0 and everything should still work (if not, please file an issue!).

Even the web UI will work if you go directly to any of the basic nodes.  The instructions just treat the admin node special because it gets mapped to the publicly available load balanced address so it's easy for users to hit the web UI.

[2016-07-05 18:40] #36 closed

[2016-07-05 20:04] FilipVozar opened #37 "Set node recovery type before triggering rebalance"
Consider the following scenario:

1. pod gets deleted/failed
2. failed node gets failed over (either via auto-failover, or manually)
3. node comes back online with the same IP address (usually happens when I scale down the replication controller, then scale it back up and the IP address gets reused)
4. the cluster registers that node is online and there is brief (few seconds) window when it is pos

[2016-07-05 22:37] tleyden commented on #37
Can you provide more details or links to docs / api calls regarding this?

[2016-07-06 08:28] FilipVozar commented on #37
docs: http://developer.couchbase.com/documentation/server/4.0/clustersetup/rejoin-cluster.html
HTTP API calls: http://developer.couchbase.com/documentation/server/4.0/rest-api/rest-node-recovery-incremental.html

[2016-07-06 19:21] tleyden commented on #37
I'm assuming that in your scenario the new node that comes up will not have any persisted data from previously being in the cluster, and so the only type of recovery that would be valid here is Full Node Recovery.

If you think that assumption about not having persisted data is wrong, we should start there and get to the bottom of it.

[2016-07-06 19:41] FilipVozar commented on #37
In my case I prefer full node recovery, because I'm only running a small cluster and I don't want to deal with issues whether there is valid data on the node or not, so I always do full recovery. It also makes more sense when using any kind of automation like this, because full node recovery never fails in the sense that there are no assumptions about data being available on the node.

However, th

[2016-07-15 21:05] tleyden opened #38 "When nodes come back online with persistent volumes, doesn't recognize data"

[2017-03-19 21:25] korczis opened #39 "Integrate with etcd cluster using etcd-operator"
https://github.com/coreos/etcd-operator - etcd operator creates/configures/manages etcd clusters atop Kubernetes

Currently user face etcd cluster objects are created as Kubernetes Third Party Resources, however, taking advantage of User Aggregated API Servers to improve reliability, validation and versioning is planned. The use of Aggregated API should be minimally disruptive to existing users bu

[2017-03-19 21:29] tleyden commented on #39
Thanks for heads up @korczis!

[2017-03-19 22:51] korczis commented on #39
Pleasure for me. Do you think this can be integrated?

[2017-03-20 07:41] tleyden commented on #39
It sounds feasible.  At the moment I don't have the bandwidth -- currently focusing on https://github.com/couchbase/sync-gateway-ami/blob/master/docs/README-ENDUSER.md

Once that is in a good state I will try to loop back to this.

Just curious -- what problems would this solve for you?

[2017-03-20 15:43] korczis commented on #35
I am suffering from this issue. Is there any ETA for this?

[code]

[2017-03-20 18:18] tleyden commented on #35
No ETA at the moment, unfortunately this project isn't being actively maintained.

If you are able to send a PR I will take a look, but I don't have the bandwidth to add this feature.

[2017-07-21 20:55] ayush268 opened #40 "Using Statefulset and PVC causing problems when or if Pod restarts"
Currently I am using the setup provided in the following repo for statefulset
https://github.com/arun-gupta/couchbase-kubernetes/tree/master/cluster-statefulset

with a few exceptions -
* NOT using configure-node.sh
* I am using "terminationGracePeriodSeconds" to be 10 instead of 0
* In couchbase service, I have not added "clusterIP: None" option
* NOT using "couchbase-ui service".

The issue I am

[2018-05-26 16:36] VarunUmesh opened #42 "Requesting for a sample Couchbase cluster deployment using Couchbase Operator"
Could you please post a sample Couchbase cluster deployment using Couchbase Operator?

[2018-05-26 23:09] tleyden commented on #42
AFAIK the couchbase operator hasn't been officially released yet!  Please ask on forums.couchbase.com

[2018-05-26 23:09] #42 closed, assigned to nobody

[2018-05-26 23:11] tleyden commented on #42
@tahmmee is there a beta version of the Couchbase Operator that community users can test drive?

[2018-07-26 14:09] ronakpandya7 opened #43 "Couchbase not working with istio"
Hello,
We are using istio with istio auth disable and trying to setup couchbase with istio.
after browsing we found that couchbase is running fine, but issue came when we try to add one new node in the existing couchbase cluster and it gives the following error:

`
Attention: Join completion call failed. Got HTTP status 500 from REST call post to http://svc-couchbase-2.ns-test:8091/completeJoin. B

[2019-08-08 08:45] KlavsKlavsen opened #45 "Deprecating - when your replacement is NOT free for community use :("
Its a rather annoying "feature" - that your replacement for this project, is NOT free to use for community, like Couchbase Server (community edition) is.
This means one gets rather surprised if running couchbase, and want to just run it in kubernetes.. There are no official to do that for community users anymore :(